{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Tableau de bord{% endblock %}

{% block body %}

    <div class="wrapper dashborad-h">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Tableau de bord</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-2">
                    <div class="card bg-primary m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="mdi mdi-account-multiple-plus"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{  nombre_artiste|number_format(0,'','.') }}</h5>
                                        <p class="mb-0 ">Artistes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-success m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="mdi mdi-image-album"></i>
                                    </div>
                                </div>
                                <div class="col-8 text-center ml-auto align-self-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{  albums|length|number_format(0,'','.') }}</h5>
                                        <p class="mb-0 ">Albums</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-warning m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round ">
                                        <i class="mdi mdi-album"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{  statistiques.stock|number_format(0,'','.') }}</h5>
                                        <p class="mb-0 ">CD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-danger m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="mdi mdi-ticket"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{  statistiques.sticke|number_format(0,'','.') }}</h5>
                                        <p class="mb-0">Stickes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-secondary m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round ">
                                        <i class="mdi mdi-ticket"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{ statistiques.non_sticke|number_format(0,'','.') }}</h5>
                                        <p class="mb-0 ">Non Sticker</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-dark m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="mdi mdi-shopping"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{ statistiques.distribue|number_format(0,'','.') }}</h5>
                                        <p class="mb-0">Vente</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-8 col-xl-9">
                    <div class="card m-b-30">
                        <div class="card-body metro-widget">
                            <h5 class="header-title mt-0 pb-3">Statistics</h5>
                            <canvas id="myChart" height="100"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h5 class="header-title mt-0 pb-3">Revenue </h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-6">
            <div class="card m-b-30">
                <div class="card-body">
                    <h5 class="header-title mb-3 mt-0">Dernières ventes</h5>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="border-top-0">Dates</th>
                                <th class="border-top-0">References</th>
                                <th class="border-top-0">Vendeurs</th>
                                <th class="border-top-0">Albums</th>
                                <th class="border-top-0">Montant</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for facture in factures|slice(0,6) %}
                                <tr>
                                    <td>{{ facture.date|date('d-m-Y') }}</td>
                                    <td>{{ facture.reference }}</td>
                                    <td>{{ facture.vendeur }}</td>
                                    <td class="text-center">{{ facture.nombre_vente }}</td>
                                    <td class="text-right"> {{ facture.TTC|number_format(0,'','.') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">
            <div class="card m-b-30">
                <div class="card-body new-user">
                    <h5 class="header-title mb-3 mt-0">Derniers artistes</h5>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="border-top-0">Media</th>
                                <th class="border-top-0">Artiste</th>
                                <th class="border-top-0">Albums</th>
                                <th class="border-top-0">Nombre</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for album in albums|slice(0,4) %}
                                <tr>
                                    <td>
                                        {% if album.artiste_photo %}
                                            <img class="rounded-circle" src="{{ asset('upload/artistes/'~ album.artiste_photo) }}" alt="{{ album.artiste_nom }}" width="40">
                                        {% else %}
                                            <img class="rounded-circle" src="{{ absolute_url(asset('/backoffice/images/avatar.png')) }}" alt="{{ album.artiste_nom }}" width="40">
                                        {% endif %}
                                    </td>
                                    <td> <a href="javascript:void(0);">{{ album.artiste_nom }}</a></td>
                                    <td><span class="text-info">{{ album.titre }}</span></td>
                                    <td class="text-center">{{ album.stock ? album.stock : '0' }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [ {% for vente in ventes %}'{{ vente.libelle }}',{% endfor %}],
                datasets: [
                        {
                    label: 'Depot',
                    data: [{% for vente in ventes %}{{ vente.montant ? vente.montant : 0 }},{% endfor %}],
                    backgroundColor: ['rgba(54, 162, 235, 0.4)',],
                    borderColor: ['rgba(54, 162, 235, 1)',],
                    borderWidth: 1
                },
                        {
                    label: 'Recouvrement',
                    data: [{% for encaissement in encaissements %}{{ encaissement.montant ? encaissement.montant : 0 }},{% endfor %}],
                    backgroundColor: ['rgb(194,6,6)',],
                    borderColor: ['rgba(194,6,6)',],
                    borderWidth: 2,
                    type: 'line'
                }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}
