{% extends 'security_layout.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <div class="text-center pt-3">
        <a href="{{ absolute_url(path('backend_dashboard') )}}"> Modification du mot de passe</a>
    </div>
    <div class="px-3 pb-3">
        {{ form_start(resetForm,{'attr':{'class': 'form-horizontal m-t-20 mb-0'}}) }}

        {% if app.user %}
            <div class="mb-3">
                {% trans %}Vous êtes : {% endtrans%} {{ app.user.username }}, <a href="{{ path('app_logout') }}"> Deconnexion</a>
            </div>
        {% endif %}

        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible mg-b-0 fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="form-group row">
            <div class="col-12">
                {{ form_row(resetForm.plainPassword) }}
            </div>
        </div>


        <div class="form-group text-right row m-t-20">
            <div class="col-12">
                <input type="hidden" value="{{ token }}" name="_token">
                <button class="btn btn-primary btn-raised btn-block waves-effect waves-light" type="submit">Modifier le mot de passe</button>
            </div>
        </div>

        {{ form_end(resetForm) }}
    </div>

{% endblock %}
