{{ form_start(form) }}
<div class="row">
    <div class="col-sm-12 mt-3">{{ form_row(form.nom) }}</div>
    <div class="col-sm-12 mt-3">{{ form_row(form.situation) }}</div>
    <div class="col-sm-12 mt-3">{{ form_row(form.contact) }}</div>
</div>
{{ form_widget(form) }}
    <div class="text-right mt-5">
        <a href="{{ path('backend_vendeur_index') }}" class="btn btn-outline-secondary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
