{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des vendeurs{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 mt-5">
                    <div class="page-title-box">
                        <h4 class="page-title">Gestion des vendeurs</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="card m-b-30">
                        <div class="card-body">

                            {% for label, messages in app.flashes(['success', 'danger']) %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }} alert-dismissible mg-b-0 fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            <h5 class="header-title mb-3 mt-0">Liste</h5>
                            <div class="table-responsive mt-5">
                                <table id="liste" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0 text-center">#</th>
                                        <th class="border-top-0 text-center">CODE</th>
                                        <th class="border-top-0 text-center">NOM</th>
                                        <th class="border-top-0 text-center">CONTACT</th>
                                        <th class="border-top-0 text-center">CREDIT</th>
                                        <th class="border-top-0 text-center">AVANCE</th>
                                        <th class="border-top-0 text-center">RESTE</th>
                                        <th class="border-top-0 text-center">ALBUM</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for vendeur in vendeurs %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="text-center">{{ vendeur.code }}</td>
                                            <td><a href="{{ path('backend_vendeur_edit', {'id': vendeur.id}) }}">{{ vendeur.nom }}</a></td>
                                            <td class="text-center">{{ vendeur.contact }}</td>
                                            <td class="text-center">{{ vendeur.credit ? vendeur.credit|number_format(0,'',' ') : '0' }}</td>
                                            <td class="text-center">{{ vendeur.payer ? vendeur.payer|number_format(0,'',' ') : '0' }}</td>
                                            <td class="text-center">{{ vendeur.reste ? vendeur.reste|number_format(0,'',' ') : '0' }}</td>
                                            <td class="text-center">-</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h5 class="header-title mb-3 mt-O">Enregistrement</h5>
                            <div class="mt-5">
                                {{ include('backend_vendeur/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/b-1.7.1/b-html5-1.7.1/datatables.min.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('/backoffice/plugins/dropify/css/dropify.min.css')) }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/datatables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
    <script src="{{ absolute_url(asset('/backoffice/plugins/dropify/js/dropify.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('/backoffice/js/upload-init.js')) }}"></script>
    <script>
        $(document).ready(function() {
            $('#liste').DataTable({
                //"ajax": "data.txt",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
        } );
    </script>
{% endblock %}