{{ form_start(form) }}
<div class="row form-group">
    <div class="col-sm-12 mt-3">{{ form_row(form.album) }}</div>
    <div class="col-sm-12 mt-3">{{ form_row(form.date) }}</div>
    <div class="col-sm-12 mt-3">{{ form_row(form.quantite) }}</div>
    <div class="col-sm-12 mt-3">{{ form_row(form.motif) }}</div>
</div>
{{ form_widget(form) }}
<div class="text-right mt-5">
    <input type="hidden" name="_quantite" value="{{ destockage.quantite }}">
    <a href="{{ path('backend_destockage_index') }}" class="btn btn-outline-secondary">Annuler</a>
    <button class="btn btn-primary">{{ button_label|default('enregistrer') }}</button>
</div>
{{ form_end(form) }}
