{% extends 'base.html.twig' %}

{% block title %}Precommande{% endblock %}

{% block body %}
    <h1>Precommande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ precommande.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ precommande.reference }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ precommande.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ precommande.tel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ precommande.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ precommande.email }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ precommande.quantite }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ precommande.montant }}</td>
            </tr>
            <tr>
                <th>Flag</th>
                <td>{{ precommande.flag ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IdTransaction</th>
                <td>{{ precommande.idTransaction }}</td>
            </tr>
            <tr>
                <th>StatusTransaction</th>
                <td>{{ precommande.statusTransaction }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ precommande.createdAt ? precommande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_precommande_index') }}">back to list</a>

    <a href="{{ path('backend_precommande_edit', {'id': precommande.id}) }}">edit</a>

    {{ include('backend_precommande/_delete_form.html.twig') }}
{% endblock %}
